/* Navbar height and image */
.navbar {
    border: 0;
    margin-bottom: 0;
}

.navbar-brand {
    height: 80px;
    padding: 0;
}
.navbar-brand>img {
    height: 100%;
    padding: 7px 15px;
    width: auto;
}
@media (min-width: 768px) {
    .nav >li >a, .navbar-text {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

/* Navbar color */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #333;
    background-color: #0a2;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #333;
    background-color: #0a2;
}
.navbar-inverse .navbar-nav > li > a {
    color: #333;
}

/* Navbar font size */
@media (min-width: 992px) {
    .nav {
        font-size: 16px;
    }
}

/* Navbar text */
.navbar-text.navbar-title {
    font-size: 16px;
    color: #333;
    margin: 0;
}